<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>

    <!-- theme head start -->

    <title>{{- page_title -}}</title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    {{ content_for_header }}

    <!-- theme head end -->
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>